* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}
.totalContent {
  width: 100vw !important;
  height: 100vh !important;
}

/* Sidebar styling */
.fakeSideBAr {
  width: 175px;
}

/* Main content area flexbox */
.mainContent {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px;
}
.form-title {
  padding: 2px;


.form-title h2 {
  color: rgb(9, 75, 156);
  margin: 2px;
}
.register-guest-form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px; /* Set a max-width for a standard form look */
  margin: 0 auto; /* Center the form horizontally */
  height: fit-content;
  background-color: white;
  border: 0.5px solid rgb(0, 100, 255);
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

.input-container {
  min-width: 220px;
  max-width: 100%;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 0.5px solid #c2c2c2;
}
