/* Register_Visitor.css */
*{
    margin: 0;
    padding: 0;
}

.totalContent{
  width: 100vw !important;
  height: 100vh !important;
}

.fakeSideBAr{
    width: 175px;
}

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form{
    display: inline-flex;
    flex-direction: column;
    width: 98%;
    height: 95%;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 2px;
    overflow: auto;
}

.register-form h2, p, label, input, img{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto', 'Poppins';
    font-weight: 400;
}

.form-title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 15px;
}

.form-title img{
    width: 30px;    
}

.form-title h2{
    font-family: 'Roboto','Poppins';
    font-size: 19px;
    font-weight: 500;
}

.icon-text{
    display: flex;
    flex-direction: row;
}

.lines{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.line1{
    width: 150px;
    height: 2px;
    background-color: black;
    border-radius: 10px;
}

.line2{
    width: 100px;
    height: 5px;
    background-color: #254F8E;
}

.main-form{
    width: 100%;
    height: 100%;
}

.left-section-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    border: 0.5px solid rgb(194, 194, 194);
}
.text-boxes{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.text-boxes input, select{
    margin: 0;
    width: 250px;
    height: 32px;
    font-family: 'Roboto', 'Poppins', Arial;
    font-size: 13px;
    background-color: #F2F2F2;
    border: 0.5px solid #8e8989;
    border-radius: 3px;
}
.custom-select__control {
    margin: 0 !important;
    width: 250px !important;
    height: 32px !important;
    font-family: 'Roboto', 'Poppins', Arial !important;
    font-size: 13px !important;
    background-color: #F2F2F2 !important;
    border: 0.5px solid #8e8989 !important;
    border-radius: 3px !important;
    text-align: left;
  }
  
  .custom-select__value-container {
    padding: 0 8px !important;
  }
  
  .custom-select__placeholder {
    color: #aaa !important;
    font-size: 13px !important;
    text-align: left;
  }
  
  .custom-select__single-value {
    color: #333 !important;
    font-size: 13px !important;
  }
  
  .custom-select__input {
    color: #333 !important;
  }
  
  .custom-select__indicator {
    padding: 0 8px !important;
  }
  
  .custom-select__indicator-separator {
    background-color: #ccc !important;
  }
  
  .custom-select__menu {
    width: 250px !important;
    margin: 0 !important;
  }
  
  .custom-select__menu-list {
    padding: 0 !important;
  }
  
  .custom-select__option {
    font-family: 'Roboto', 'Poppins', Arial !important;
    font-size: 13px !important;
    background-color: #F2F2F2 !important;
    color: #333 !important;
    border: 0.1px solid rgba(237, 235, 235, 0.486);
    padding: 2px !important;
  }
  
  .custom-select__option--is-selected {
    background-color: #b7becb !important;
    color: #333 !important;
  }
  
  .custom-select__option--is-focused {
    background-color: #0d79c7 !important;
    color: #ffffff !important;
  }
  
  .custom-select__option--is-disabled {
    background-color: #f9f9f9 !important;
    color: #ccc !important;
  }
  
.text-boxes label{
    font-family: 'Roboto', 'Poppins', Arial;
    font-weight: 500;
    font-size: 15px;
}