/* Register_Visitor.css */

.fakeSideBAr{
    width: 175px;
}

.register-form{
    display: inline-flex;
    width: 98%;
    height: 95%;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 15px;
}

.form-title{
    display: flex;
    width: 100%;


}

.form-title img{
    width: 30px;
    height: auto;
}

.main-content{
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }