/* Full viewport height and width for main content */
.totalContent {
  width: 100vw !important;
  height: 100vh !important;
}

/* Sidebar styling */
.fakeSideBAr {
  width: 175px;
}

/* Main content area flexbox */
.mainContent {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px;
}

/* Form container */
.register-form2 {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 2px;
  overflow: auto;
}

.visitor-register-form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 2px;
  overflow: auto;
  padding: 12px 2px;
}

.form-title img {
  width: 30px;
}

.form-title h2 {
  font-family: "Roboto", "Poppins";
  font-size: 19px;
  font-weight: 500;
}

.lines {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.line1 {
  width: 150px;
  height: 2px;
  background-color: black;
  border-radius: 10px;
}

.line2 {
  width: 100px;
  height: 5px;
  background-color: #254f8e;
}

/* Main form layout */
.main-form-vd {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.vd_name_sections {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  width: 100%;
  font-size: 14px;
  padding: 10px;
  flex-direction: row;
}

.Vcontainer {
  height: fit-content;
  width: 100%;
}

.table {
  width: 100%;
}
.vt_searchcontainer {
  max-width: 120px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 0px 5px;
.vt_date_search {
  width: 100%;
  display: flex;
}

.main-form-vd h1 {
  background-color: none; /* This value is actually not valid; you might want to remove or change it */
  color: rgb(142, 141, 141);
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  font-size: 50px;
  font-style: italic;
  margin-top: 200px;
  margin-left: 30%;
  text-align: center;
}
