/* Sidebar.css */

.sidebar {
  height: 100%;
  /* Full screen height */
  display: flex;
}

.sidebar-nav {

  padding-bottom: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  /* Light gray border */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

.sidebar-nav-collapsed {
  height: 100%;
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  /* Light gray border */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

@media (max-width: 768px) {

  /* Adjust the max-width as needed */
  .sidebar-nav,
  .sidebar-nav-collapsed {
    padding-bottom: 0;
  }
}


.sidebar-header {
  padding: 10px;
  /* Adjust padding as needed */
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  overflow: hidden;
  transition: all 0.3s ease;
  /* transition-all */
  width: 220px;
  /* w-23: Tailwind width of 5.75rem */
}

/* Collapsed state styles */
.logo-collapsed {
  width: 0;
}

.collapse-button,
.logout-button {
  background-color: #f9fafb;
  /* Light gray background */
  padding: 0.375rem;
  /* Equivalent to p-1.5 */
  border-radius: 0.5rem;
  /* Rounded corners */
  border: none;
  cursor: pointer;
}

.collapse-button:hover,
.logout-button:hover {
  background-color: #f3f4f6;
  /* Slightly darker gray on hover */
}

.collapse-icon {
  display: inline-block;
}

.links-children {
  flex: 1;
  padding: auto 3px;
}

.user-profile {
  border-top-width: 1px;
  display: flex;
  width: 220px;
  padding: 3px;
}

.user-profile-collapsed {
  border-top-width: 1px;
  display: flex;
  padding: 3px;
}

.user-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.user-profile-details {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;

  /* w-52 */
  margin-left: 12px;
  /* ml-3 */
  opacity: 1;
  transition: all 0.3s ease;
  /* transition-all */
}

.user-profile-details-collapsed {
  opacity: 0;
  display: none;
}

.user-profile-details-texts {
  line-height: 1.3rem;
  padding-right: 8px;
}

.user-profile-details-texts h4 {
  font-weight: 600;
  font-size: la;
}

.user-profile-details-texts-email {
  color: #4b5563;
  /* The color value for text-gray-600 */
  font-size: 12px;
}

/* SidebarItem.css */

/* Base styles for SidebarItem */
.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  /* py-2 px-3 */
  margin: 0.25rem 0;
  /* my-1 */
  font-weight: 500;
  /* font-medium */
  border-radius: 0.375rem;
  /* rounded-md */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* transition-colors */
}

/* Styles when the item is active */
.sidebar-item-active {
  background: linear-gradient(to top right,
      #e4e9f2,
      #e0f0fc);
  /* bg-gradient-to-tr from-indigo-200 to-indigo-100 */
  color: #4f46e5;
  /* text-indigo-800 */
}

/* Styles for hover effect */
.sidebar-item:hover {
  background-color: #f9fafb;
  /* hover:bg-indigo-50 */
  color: #4b5563;
  /* text-gray-600 */
}

/* Text container styles */
.sidebar-item-text-expanded {
  /* width: 13rem; w-52 */
  flex: 1;
  margin-left: 0.74rem;
  /* ml-3 */
  font-size: 13px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.sidebar-item-text-collapsed {
  display: none;
}

/* Alert dot styles */
.sidebar-item-alert {
  position: absolute;
  right: 0.5rem;
  /* right-2 */
  width: 0.5rem;
  /* w-2 */
  height: 0.5rem;
  border-radius: 9999px;
  /* rounded */
  background-color: #4f46e5;
  /* bg-indigo-400 */
}

.sidebar-item-alert-collapsed {
  top: 2;
}

.logout-icon {
  color: #dc2626;
}