/* Dashboard.css */

.fakeBody {
  height: 100%;
  width: 100%;
}

.totalContent {
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.fakeSideBAr {
  min-width: 175px;
  min-height: 100%;
}

.main-content {
  width: 100%;
  height: 100vh;
  padding-right: 5px;
  padding-left: 5px;
  overflow-y: auto;
  overflow-x: visible;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.Widgets {
  width: 95%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px 20px;
}

.data-grid {
  width: 100%;
  padding: 1px;
  background-color: #ffffff;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 10px;
  overflow: auto;
}

.data-grid::-webkit-scrollbar {
  display: none;
}

@media (max-width: 419px) {
  .fakeSideBAr {
    min-width: 120px;
  }
}

@media (max-width: 355px) {
  .fakeSideBAr {
    min-width: 100px;
  }
}

@media (max-width: 829px) {
  .Widgets {
    flex-direction: column;
  }
}
