.sideNaviBar{
    width: fit-content;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-between;
    align-items: center;
    background: white;
    padding-bottom: 30px;
    border: 0.5px solid rgb(100, 100, 100);
    position: fixed;
  }
  
  .logoNavi{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .sideNaviBar .logoNavi img{
    width: 120px;
    height: auto;
    margin: 15px 0px;
  }

  .naviGroups{
    width: 100%;
    height: fit-content;
    margin-top: 15px;
  }

  .naviLinks{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    margin: 2px 0px;
    border-radius: 9px;
    cursor: default;
  }

  .naviLinks img{
    height: 30px !important;
    width: auto !important;
  }

  .naviLinks p{
    width: 131px;
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 600;
    text-align: center;
  }

  #dashboardLink p{
    text-align: left;
    padding-left: 10px;
    color: white;
  }

  #dashboardLink{
    background-color: hsl(194, 99%, 34%);
  }

  #dashboardLink img{
    filter: invert(100%);
}

.naviLinks:hover {
    background-color: #0184AB;
}

.naviLinks:hover p {
    color: white;
}

.naviLinks:hover img {
    filter: invert(100%);
}

.logout{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 15px;
    padding: 5px 10px 5px 15px;
    margin: 2px 0px;
    border: 2px solid #FF0000;
    border-radius: 9px;
    cursor: pointer;
}

.logout p{
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 600;
    color: #FF0000;
}

@media (max-width: 419px) {
  .sideNaviBar .logoNavi img{
    width: 100px;
    height: auto;
    margin: 15px 0px;
  }

  .logoNavi{
    width: 160px;
  }

  .naviGroups{
    width: fit-content;
  }

  .naviLinks p{
    display: none;
  }

  .naviLinks{
    text-align: center;
    border-radius: 50px;
    padding: 0px 15px;
    margin: 10px 0px;
  }
}